html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font: 16px sans-serif;
}

header {
    text-align: center;
    background: #370a42;
    color: #a672ba;
    padding: 10px;
}

footer {
    text-align: center;
    background: #370a42;
    color: #a672ba;
    padding: 10px;
    font-size: 11px;
}

.playerNameForm {
    display: flex;
}

.window-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.game-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #370a42;
}

.endScreen {
    display: none;
}

.btnBox {
    height: 50px;
    margin-top: 30px;
}

#restartBtn {
    display: block;
    margin: auto;
}

#highscores {
    display: block;
}

.game {
    width: 800px;
    height: 600px;
    background: url("../img/purple_background.png");
    animation: scroll-background 5s linear infinite;
    position: absolute;
    display: none;
}

.game .player {
    position: absolute;
    margin-left: -20px;
    margin-bottom: +15px;
    width: 40px;
    height: 30px;
}

.game .playerDashboard {
    position: absolute;
    margin-left: 850px;
}

.player .spaceship {
    position: absolute;
    width: 40px;
    height: 30px;
}

.player .damage {
    position: absolute;
    width: 40px;
    height: 30px;
}

.game .bonus {
    position: absolute;
    margin-left: +20px;
    margin-bottom: +15px;
}

@keyframes scroll-background {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 256px;
    }
}

.game .enemy {
    position: absolute;
    width: 40px;
    height: 30px;
}

.game .playerlaser {
    position: absolute;
    margin-left: -3px;
    margin-top: -20px;
    height: 30px;
}

.game .enemylaser {
    position: absolute;
    margin-left: 17px;
    margin-top:21px;
    height: 30px;
}